---
layout: 'layout/base.html'
title: 'Iron Man'
intro: 'Wounded, captured and forced to build a weapon by his enemies, billionaire industrialist Tony Stark instead created an advanced suit of armor to save his life and escape captivity. Now with a new outlook on life, Tony uses his money and intelligence to make the world a safer, better place as Iron Man.'
hero-image: 'iron-man.png'
subhead: 'Contrary to popular belief, he knows exactly what he’s doing.'
main-image: 'iron-man-asset.png'
---

<header class="hero">
  {% include partials/header.html %}
</header>
<main>
  {% include partials/main.html %}
  {% include partials/slider.html %}
</main>
